mini excute files
mini compile files
mini read files
mini start excution 
mini error please select your way of doing this here is your options .mini or .minitron .mini is an local excuteable .minitron is an web based excuteable 
mini repeat and recombined files are all false 
mini repeat and recombined files are true
mini reinspect for any code errors
mini.tron export 
mini change ton to 55 meaning all files are neat and are larger
mini set code max to 55 
mini reset code - 1000 
react.mini set to true
exe.mini set to true
web.mini set to true
55-1000 code set to true
error logs
Error 1. 101 sorry we see you have not made any code please make code and code your files then try again
error 2. 102 sorry we are encountring some issues please wait
error 3. 1.2003 this error means something went wrong please try again later
error 2000 means you have something that has increased code more then the max reset it now and try again